= form_for [@user, @post] do |f|
  = render_errors_for @post
  
  .field
    = icon_field f, @post.icon_id
  .field
    = icon_color_field f, @post.icon_color_id

  .actions.row
    .small-3.small-centered.columns
      =f.button(type: :submit) do
        %span.icon-checkmark-circle      
          
      = link_to user_posts_path(@user), class: :cancel_button do
        %span.icon-cancel-circle
