.row.text-center 
  .small-12.columns
    %h1 Posts by #{@user.email}
    = follow_button(@user)

  .small-4.small-centered.columns
    = paginate @posts

.posts
  = paginate @posts
  = render @posts
