<div class="row">
  <div class="small-12 columns">
    <h2>Sign up</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
<p>
<strong>Note: This site does not use SSL. This means, your password will not be sent securely. So, use a silly password yeah? Not the one you use for all your important stuff! Awesome.</strong>
</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: [:button] %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
