%div{ ng: { controller: 'CommentFormController', submit: 'hide_form()' } }

  %a.button{ href: "#new-comment-form", ng: { hide: 'form_visible', click: 'show_form()' } } 
    Reply

  #new-comment-form.panel.ng-hide{ ng: { show: 'form_visible' } }
    %h3 New Comment

    = form_for [post, Comment.new], remote: true do |f|
      
      .field
        = icon_field f
      %br
      .field
        = f.label :color
        = f.color_field :color 
      .actions
        = f.submit 'Reply', class: :button
        %a{ href: '#', ng: { click: 'hide_form()'} } Cancel 
