= form_for [@user, @post] do |f|
  = render_errors_for @post
  
  .field
    = icon_field f, @post.icon_id
  %br
  .field
    = f.label :color
    = f.color_field :color, value: @post.color
  .actions
    = f.submit @post.new_record? ? 'Post' : 'Update', class: :button
    = link_to "Cancel", user_posts_path(@user)
