= form_for @post do |f|
  = render_errors_for @post
  
  .field
    =render partial: 'icons/icon_fields', locals: { f: f, selected_icon: @post.icon_id || 1 }
  %br
  .field
    = f.label :color
    = f.color_field :color, value: @post.color
  .actions
    = f.submit @post.new_record? ? 'Post' : 'Update', class: :button
    = link_to "Cancel", posts_path 
